__Name:Daniil Barbiyeru__


---

# Homework 2
__Guideline:__ 
* Please write your name to the __"Name:"__ line above.
* This assignment comes with a data file that is required to complete it. Download this data file (__HW2_Data.xlsx__) together with this assignment.
* For the questions that require verbal answers, please answer them in their respective answer cells. 
* For the questions that require code, if your code doesn't work, please include a comment describing your algorithm (if code works well, no explanation is needed). 
* This homework is due on __Sep. 16, 2019, 6:00 pm.__ on Monday. You need to upload your completed homework assignment to Sakai until that time.
---

In [1]:
import numpy as np   # Run this cell to import these packages before writing your code, as they will be needed.
import pandas as pd

## __Question 1:__  
Write a program to define a function that calculates the stock price according to dividend discount model (DDM), also called the Gordon growth model. 

The formula for stock price is as follows: 
* price = (dividend at the end of first year) / (cost of equity capital - growth rate) 
* P = D / (r - g)

The program will require dividend at the end of first year (D), cost of equity capital (r), and growth rate (g) as __parameters__. For example, a stock with a dividend $10 per share and r = 8\% and g = 3\% should be priced at P = 200 dollars.

In [2]:
# 'def' is the indicator that this is a function, 'price_algo' is the function name
# D,r,g are the variables name for the function, D = dividend, r = cost of equity capital and g = growth rate
def price_algo(D,r,g):
    price = D/(r-g) #Create a new variable 'price' that calculates the Gordon growth model using the provided variables
    return price # return the 'price' variable and have it ready for use

In [3]:
# Test the 'price_algo' function using the above numbers as an example
price_algo(10,.08,.03)

200.0

---

## Question 2:
a) Generate a NumPy array with 100 random numbers, chosen from a __normal__ distribution.

In [4]:
df_2 = np.random.normal(size=100) #create a variable called 'df_2' and fill it with 100 random numbers with normal distrubition

b) Calculate the mean, median, standard deviation, minimum, and maximum of these numbers.

In [5]:
print(df_2.mean())
print(df_2.std())
print(df_2.min())
print(df_2.max())

0.014992390990361204
0.8689956342104398
-2.0682949784307576
2.561875798048909

---

## __Question 3:__ 
a) Construct a matrix __M__ with elements from 0, 2, 4, ..., 28, 30 (16 elements with intervals of 2 between each other). And then reshape it to a 4x4 matrix.

In [6]:
matrix_M = np.arange(0, 30, 2) #create a matrix 'matrix_M' that is filled with numbers from 0 to 30 counting by 2

b) Multiply the matrix with itself. Also calculate the dot product of matrix M with itself. Are they different? Why? (A one sentence comment would suffice.)

In [7]:
a = matrix_M*matrix_M # Assign a to the matrix multiplied by itself
print(a.sum())
print(np.dot(matrix_M,matrix_M)) # this prints out the dot matrix

print("NOT COMPLETE, STILL REQUIRES ONE SENTENCE ANSWER") # still needs an explanation of if the dot product and the matrix multiplied by itself is the same

4060
4060
NOT COMPLETE, STILL REQUIRES ONE SENTENCE ANSWER

---

## Question 4:
Consider the following data provided for several stocks. 

Data 1: For each stock following information is provided: Its ticker, the dividend it will pay a year later (__D__), the cost of equity capital (__r__), and  the growth rate (__g__).

Data 2: In a separate data frame, you also have access the current market prices of each stock.

Write a program that merges these two data, and then uses the function you have constructed in Question 1 to calculate the prices according to dividend discount model. The program will compare the DDM price with market price. Finally, your program should introduce a new column to data that indicates whether the stock is __'overpriced'__ or __'underpriced'__ according to DDM. (You may want to use np.where() method to construct this column.)

In [71]:
# This cell creates the data for you, you may simply run this and work on these data in the next cell.
stock_info = pd.DataFrame({
        'D' : [2, 12, 5, 4], 
        'r' : [0.05, 0.07, 0.07, 0.08], 
        'g' : [0.04, 0.02, 0.05, 0.055],
        'Ticker' : ['Stock1', 'Stock2', 'Stock3', 'Stock4']})
stock_prices = pd.DataFrame({
        'Price' : [180, 300, 280, 150],
        'Ticker' : ['Stock1', 'Stock2', 'Stock3', 'Stock4']})
# print(stock_info) 
# print(stock_prices)

In [72]:
df_4 = pd.merge(stock_info,stock_prices) # this merges the 2 dataframes into a single dataframe called 'df_4'


#create a new column 'DDM' and fill it with the values calculated by 'price_algo', using the variables in columns 'D','r',and 'g'
df_4["DDM"]=price_algo(df_4["D"],df_4["r"],df_4["g"]) # create a new column 'DDM' 
# and fill i

In [75]:
#using the .loc function, it locates the rows that checks to see if the DDM number is greater than the Price number, and if so in a new column 'Valuation', mark it 'Overvalued'
df_4.loc[df_4['DDM'] > df_4["Price"], 'Valuation'] = "Overvalued"

df_4.loc[df_4['DDM'] < df_4["Price"], 'Valuation'] = "Undervalued"

In [76]:
df_4 # this just shows the end product of the dataframe

    D  Ticker      g     r  Price    DDM    Valuation
0   2  Stock1  0.040  0.05    180  200.0   Overvalued
1  12  Stock2  0.020  0.07    300  240.0  Undervalued
2   5  Stock3  0.050  0.07    280  250.0  Undervalued
3   4  Stock4  0.055  0.08    150  160.0   Overvalued

---

## Question 5:
__Employee salaries.__ Write a program that calculates the salaries of employess, from a given list of employee information. You will be using the __HW2_Data.xlsx__ datafile that is provided with this homework to calculate the salaries.
* The program will first import the weekly work information. (hours worked and hourly rate) (Sheet1)
* Second, the program will merge the work experience information of each employee with the salary data. (Sheet2)

You should then write a function that uses the following parameters to calculate salary: (hours_worked, hourly_rate, experience). You may want to check the exercise in lecture 1 as guidance, but you'll need to rewrite this function using 'np.where' instead of 'if' conditions:
* If the employee has worked more than 40 hours in a given month, the employee will receive 150% wage for the extra hours. (i.e., x1.5)
* Furthermore, if the employee has more than 10 years of experience, the salary will be further multiplied by x1.2.

Finally, the program will create a new "Salary" column, by inputting the necessary information into salary function to produce the output as a new column in the dataframe.

<div class="alert alert-block alert-info">
<b>Hint:</b> You'll find that 'if' condition will produce ambiguity error when creating columns in pandas (this is because the core 'if' function does not recognize the series for statement checks, without explicitly telling it which specific element of the series to look at). For this reason, you can use NumPy's 'where' function to calculate the salary. For example: 

* _Instead of:_ if hours > 40: salary = formula1 else: salary = formula2 || _You'll need to write:_ np.where(hours > 40, formula1, formula2). You'll need to repeat this twice since original function had two if statements, one for overtime and one for experience. 
</div>

In [188]:
path = '/Users/katebarbiyeru/Desktop/HW2_Data.xlsx' # this is the path that contains the data file
df_5_sheet1 = pd.read_excel(path,"Sheet1") # imports sheet 1 from the file into a new dataframe called 'df_5_sheet1'
df_5_sheet2 = pd.read_excel(path,"Sheet2") # Imports sheet 2 from the file into a new dataframe called 'df_5_sheet2'
df_5 = pd.merge(df_5_sheet1,df_5_sheet2) #merge the two dataframes together into a new dataframe called 'df_5'
#The below checks to see if the hours worked is above 40, and if so, multiplies their wages by time and a half

# you can use the below equation but the it might be slightly off because i give time and a half to  all hours  not just those that  are above 40 hours
#df_5["Salary"]=np.where(df_5["Hours Worked"]>40,1.5*(df_5["Hours Worked"]*df_5["Hourly Rate"]),1.5*(df_5["Hours Worked"]*df_5["Hourly Rate"]))

###The below  question  might not work because im not able to test it without the data file ###
###If it doesn't work, then use the above code but the answer will be slightly off###
df_5["Salary"]=np.where(df_5["Hours Worked"]>40,(1.5*(df_5["Hours Worked"]-40*df_5["Hourly Rate"]))+(df_5["Hours Worked"]-40*df_5["Hourly Rate"]),(df_5["Hours Worked"]*df_5["Hourly Rate"]))

In [190]:
#Increase their salary by 1.2 if their  experience is greater than 10 years
df_5["Salary"] = df_5["Salary"] * np.where(df_5["Experience"]>10,1.2,1)

In [191]:
df_5

   Employee ID  Hours Worked  Hourly Rate  Experience  Salary
0            1            30           20           3   900.0
1            2            10           20           2   300.0
2            3            20           20           5   600.0
3            4            50           20           6  1500.0
4            5            60           20          15  2160.0
5            6            25           20          20   900.0
6            7            40           20          12  1440.0
7            8            50           20           5  1500.0
8            9            15           20           8   450.0
9           10            35           20          14  1260.0